<%- include('partials/head.ejs') %>


    <link rel="stylesheet" href="/mobile1stQuestion.css">

    <body>
        <div class="formBody">
            <div class="leftStripe"></div>
            <div class="leftStripe"></div>

            <div class="mainForm">
                <form action="/<%=studentID%>/instructors/<%=teacherID%>/<%=subjectcode%>/evaluate" method="POST">
                    <div class="questionCategoryContainer">
                        <div class="questionCategoryName">
                            <span>Course Overview and Orientation</span>
                        </div>
                        <% category1Question.forEach(question=> { %>
                            <div class="questionsContainer">
                                <div class="questionText">
                                    <span>
                                        <%= question.text %>
                                    </span>
                                </div>
                                <div class="questionRadio">
                                    <div class="radioContainer">
                                        <label for="">1:</label>
                                        <input type="radio" value="1" name="<%= question._id %>">
                                    </div>
                                    <div class="radioContainer">
                                        <label for="">2:</label>
                                        <input type="radio" value="2" name="<%= question._id %>">
                                    </div>
                                    <div class="radioContainer">
                                        <label for="">3:</label>
                                        <input type="radio" value="3" name="<%= question._id %>">
                                    </div>
                                    <div class="radioContainer">
                                        <label for="">4:</label>
                                        <input type="radio" value="4" name="<%= question._id %>">
                                    </div>
                                    <div class="radioContainer">
                                        <label for="">5:</label>
                                        <input type="radio" value="5" name="<%= question._id %>">
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <div class="questionCategoryContainer">
                        <div class="questionCategoryName">
                            <span>Learning Outcomes</span>
                        </div>
                            <% category2Question.forEach(question => {%>
                                <div class="questionsContainer">
                                    <div class="questionText">
                                        <span><%=question.text%></span>
                                    </div>
                                
                                    <div class="questionRadio">
                                        <div class="radioContainer">
                                            <label for="">1:</label>
                                            <input type="radio" value="1" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">2:</label>
                                            <input type="radio" value="2" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">3:</label>
                                            <input type="radio" value="3" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">4:</label>
                                            <input type="radio" value="4" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">5:</label>
                                            <input type="radio" value="5" name="<%=question._id%>">
                                        </div>
                                    
                                    </div>
                                </div>
                            <%})%>
                    </div>
                    <div class="questionCategoryContainer">
                        <div class="questionCategoryName">
                            <span>Assessment</span>
                        </div>
                        <% category3Question.forEach(question=> {%>
                                <div class="questionsContainer">
                                    <div class="questionText">
                                    <span>
                                                <%=question.text%>
                                            </span>
                                    </div>
                    
                                    <div class="questionRadio">
                                        <div class="radioContainer">
                                            <label for="">1:</label>
                                            <input type="radio" value="1" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">2:</label>
                                            <input type="radio" value="2" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">3:</label>
                                            <input type="radio" value="3" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">4:</label>
                                            <input type="radio" value="4" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">5:</label>
                                            <input type="radio" value="5" name="<%=question._id%>">
                                        </div>
                    
                                    </div>
                                </div>
                                <%})%>
                    </div>
                    <div class="questionCategoryContainer">
                        <div class="questionCategoryName">
                            <span>Instructional Material/Content</span>
                        </div>
                        <% category4Question.forEach(question=> {%>
                                <div class="questionsContainer">
                                    <div class="questionText">
                                            <span>
                                                <%=question.text%>
                                            </span>
                                    </div>
                    
                                    <div class="questionRadio">
                                        <div class="radioContainer">
                                            <label for="">1:</label>
                                            <input type="radio" value="1" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">2:</label>
                                            <input type="radio" value="2" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">3:</label>
                                            <input type="radio" value="3" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">4:</label>
                                            <input type="radio" value="4" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">5:</label>
                                            <input type="radio" value="5" name="<%=question._id%>">
                                        </div>
                    
                                    </div>
                                </div>
                                <%})%>
                    </div>
                    <div class="questionCategoryContainer">
                        <div class="questionCategoryName">
                            <span>Teacher Presence and Support</span>
                        </div>
                        <% category5Question.forEach(question=> {%>
                                <div class="questionsContainer">
                                    <div class="questionText">
                                        <span>
                                                <%=question.text%>
                                            </span>
                                    </div>
                    
                                    <div class="questionRadio">
                                        <div class="radioContainer">
                                            <label for="">1:</label>
                                            <input type="radio" value="1" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">2:</label>
                                            <input type="radio" value="2" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">3:</label>
                                            <input type="radio" value="3" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">4:</label>
                                            <input type="radio" value="4" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">5:</label>
                                            <input type="radio" value="5" name="<%=question._id%>">
                                        </div>
                    
                                    </div>
                                </div>
                                <%})%>
                    </div>
                    <div class="questionCategoryContainer">
                        <div class="questionCategoryName">
                            <span>Learning Experiences and Interaction</span>
                        </div>
                        <% category6Question.forEach(question=> {%>
                                <div class="questionsContainer">
                                    <div class="questionText">
                                        <span>
                                                <%=question.text%>
                                            </span>
                                    </div>
                    
                                    <div class="questionRadio">
                                        <div class="radioContainer">
                                            <label for="">1:</label>
                                            <input type="radio" value="1" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">2:</label>
                                            <input type="radio" value="2" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">3:</label>
                                            <input type="radio" value="3" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">4:</label>
                                            <input type="radio" value="4" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">5:</label>
                                            <input type="radio" value="5" name="<%=question._id%>">
                                        </div>
                    
                                    </div>
                                </div>
                                <%})%>
                    </div>
                    <div class="questionCategoryContainer">
                        <div class="questionCategoryName">
                            <span>Technology and Accessibility</span>
                        </div>
                        <% category7Question.forEach(question=> {%>
                                <div class="questionsContainer">
                                    <div class="questionText">
                                        <span>
                                                <%=question.text%>
                                            </span>
                                    </div>
                    
                                    <div class="questionRadio">
                                        <div class="radioContainer">
                                            <label for="">1:</label>
                                            <input type="radio" value="1" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">2:</label>
                                            <input type="radio" value="2" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">3:</label>
                                            <input type="radio" value="3" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">4:</label>
                                            <input type="radio" value="4" name="<%=question._id%>">
                                        </div>
                                        <div class="radioContainer">
                                            <label for="">5:</label>
                                            <input type="radio" value="5" name="<%=question._id%>">
                                        </div>
                    
                                    </div>
                                </div>
                                <%})%>
                    </div>
                    <div class="submitButton">
                        <button>Done</button>
                    </div>
                </form>
        </div>
       
        <div class="rightStripe"></div>
        <div class="rightStripe2"></div>
    </body>


    </html>